*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    background-color:#252525;
    color:#fff;
}

.row{
    margin:0 auto;
    justify-content:center;
}

.btnlogin{
    width:100%;
    display:block;
}
.alta{
    margin-top:20px
}
.navbar-nav .nav-link.active.navlogin {
    color: #fff;
} 


.select {
    color:#fff;
    text-decoration:none;
}
.select:hover {
    color: #fff;
}

td.text-warning .select {
    color: #ffc107;
}
td.text-danger .select {
    color: #dc3545;
}

.nav-link:active {
    background-color: #0a58ca;
    border-radius:5px;

}
.navbar-nav .nav-link:active {
    color: #fff;
}
.title {
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
}



#ContentPlaceHolder1_CheckBoxList label{
    /*background-color:#005b9c*/
    margin-left:10px;
    margin-bottom:5px;
    font-size:20px
}
#ContentPlaceHolder1_CheckBoxList input {
    /*background-color:#005b9c*/
    width:20px;
    height:20px;
}



#ContentPlaceHolder1_CheckBoxListAsociados label {
    /*background-color:#005b9c*/
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 20px
}

#ContentPlaceHolder1_CheckBoxListAsociados input {
    /*background-color:#005b9c*/
    width: 20px;
    height: 20px;
}