*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    background-color:#151515;
    color:#fff;
}

.row{
    margin:0 auto;
    justify-content:center;
}

.row > h1 {
    margin-top: 50px;
    text-align: center;
}
.btnlogin{
    width:100%;
    display:block;
}
.alta{
    margin-top:20px
}
.navbar-nav .nav-link.active.navlogin {
    color: #fff;
} 
